* {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  pointer-events: auto;
  cursor: default !important;
}

html,
body {
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}
